:root {
  --primary-color: #000000ab;
  --secondary-color: #ffffff;
  --primary-font: sans-serif;
  --secondary-font: sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: var(--primary-font);
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/*------Navbar------------*/
header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0.2em;
  width: 100%;
  box-shadow: 0px 0px 1px 0px #090900;
  z-index: 1;
}

nav {
  display: flex;
}

.navlogo {
  font-family: sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  margin: auto 0px auto 10%;
  text-decoration: none;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.navlist li {
  padding: 1rem 1.5rem;
}

.navlist li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.navtoggle {
  display: none;
}

.sticky {
  background-color: var(--secondary-color);
  transition: 0.2s;
}
/* ---------------Home Banner--------------------*/

.banner {
  height: 325px;
  width: 100%;
  margin-inline: auto;
  background: linear-gradient(
    0deg,
    rgb(201, 188, 244) 0%,
    rgb(255, 255, 255) 95.83%
  );
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.banner-content {
  /* display: inline-block; */
  position: relative;
  top: 10vh;
  left: 10vw;
  float: left;
  font-family: var(--secondary-font);
}
.banner-content h2 {
  font-size: 2.5em;
  line-height: 1.3em;
}
.banner .banner-img {
  position: relative;
  top: 20px;
  right: 200px;
  float: right;
}

.banner .banner-img img {
  height: 300px;
  width: 500px;
}

/* ----------Restaurant Cards------------ */
.restCarousal {
  padding: 3em 0;
}

.restCarousal .restContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.restbox {
  width: 254px;
  height: 100%;
  margin: 1em 2em 0 2em;
  transition: 0.2s ease;
}

.restbox .restimg {
  width: 100%;
  height: 160px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.restbox .restimg img {
  width: 100%;
  height: 100%;
  /* display: block; */
  object-fit: cover;
}

.restbox:hover {
  border: 1px solid black;
}

.restbox .restdesc {
  width: 100%;
  padding: 1em 0em;
}
.restdesc h3,
.restdesc p {
  width: 100%;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  color: #000;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*------------Homepage Carousel--------------*/

.carouselContainer {
  background-color: #171a29;
  padding: 0 20px;
  contain: content;
}
.carouselInnerContainer {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 340px;
  display: flex;
  align-items: center;
}
.carouselInnerBox {
  height: 280px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 53px;
  align-items: center;
}
.carouselItem {
  display: inline-block;
  cursor: pointer;
  /* margin-right: 55px; */
}
.carouselItem img {
  width: 260px;
  height: 260px;
  backface-visibility: visible;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carouselItem img:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.carouselBtn {
  position: absolute;
  top: 50%;
  width: 47px;
  height: 47px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(41, 48, 63, 0.25);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
}
.carouselBtn img {
  display: block;
  margin: 0 auto;
}
.btnLeft {
  left: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btnRight {
  right: 0;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.btnRight img:hover {
  transform: translateX(4px);
  transition: 0.5s;
}
.btnLeft img:hover {
  transform: translateX(-4px);
  transition: 0.5s;
}
