@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary-color: #000000ab;
  --secondary-color: #ffffff;
  --primary-font: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/*------Navbar------------*/
.headers {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  padding: 0px 20px;
}

.fixed {
  position: fixed;
}
.filler {
  visibility: hidden;
}

.navBar {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
}

.navlogo {
  display: block;
  height: 49px;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 16px;
  text-decoration: none;
}

.navList {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
  list-style-type: none;
}
.navList li {
  margin-right: 60px;
}
.navList li:first-child {
  margin-right: 0;
}
.navList li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #3d4152;
  font-size: 16px;
  font-weight: 500;
}
.navItems {
  display: flex;
  position: relative;
  height: 80px;
  cursor: pointer;
  align-items: center;
}
.navIcons {
  position: relative;
  right: 9px;
  line-height: 0;
}
.svgSet {
  fill: #3d4152;
}
.sticky {
  background-color: var(--secondary-color);
  transition: 0.2s;
}
/* ---------------Home Banner--------------------*/

.banner {
  height: 325px;
  width: 100%;
  margin-inline: auto;
  background: linear-gradient(
    0deg,
    rgb(201, 188, 244) 0%,
    rgb(255, 255, 255) 95.83%
  );
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.banner-content {
  /* display: inline-block; */
  position: relative;
  top: 10vh;
  left: 10vw;
  float: left;
  font-family: var(--primary-font);
}
.banner-content h2 {
  font-size: 2.5em;
  line-height: 1.3em;
}
.banner .banner-img {
  position: relative;
  top: 20px;
  right: 200px;
  float: right;
}

.banner .banner-img img {
  height: 300px;
  width: 500px;
}

/* ----------Restaurant Cards (Homepage)------------ */
.restCarousal {
  padding: 3em 0;
  max-width: 1200px;
  margin: 0 auto;
}

.restContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1em 0;
}

.restbox {
  width: 300px;
  height: 100%;
  transition: 0.2s ease;
  padding: 20px;
  border: 1px solid #fff;
}
.restbox:first-child {
  margin: 0px -20px;
}
.restbox:hover {
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}
.restbox .restimg {
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.restbox .restimg img {
  width: 254px;
  height: 160px;
  /* display: block; */
  object-fit: cover;
}

.restbox .restdesc {
  width: 100%;
  padding: 1em 0em;
}
.restName {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  color: #282c3f;
}
.restCuisines {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
  word-break: break-word;
}
.restRatings {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  padding: 3px 6px;
  /* line-height: 1; */
}
.restArea {
  display: flex;
  margin-top: 15px;
  align-items: center;
  font-size: 12px;
  color: #535665;
  justify-content: space-between;
}
.restQuickView {
  border-top: 1px solid #e9e9eb;
  display: block;
  margin: 0 auto;
  color: #f9f9f9;
}

.greybg {
  background-color: #ffffff;
}
.orangebg {
  background-color: #db7c38;
}
.greenbg {
  background-color: #48c479;
}
.redbg {
  background-color: #ff0000;
}
.yellowbg {
  background-color: #e1b055;
}

/*------------Homepage Carousel--------------*/

.carouselContainer {
  background-color: #171a29;
  padding: 0 20px;
  contain: content;
}
.carouselInnerContainer {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 340px;
  display: flex;
  align-items: center;
}
.carouselInnerBox {
  height: 280px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 53px;
  align-items: center;
}
.carouselItem {
  display: inline-block;
  cursor: pointer;
  /* margin-right: 55px; */
}
.carouselItem img {
  width: 260px;
  height: 260px;
  backface-visibility: visible;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carouselItem img:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.carouselBtn {
  position: absolute;
  top: 50%;
  width: 47px;
  height: 47px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(41, 48, 63, 0.25);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
}
.carouselBtn img {
  display: block;
  margin: 0 auto;
}
.btnLeft {
  left: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btnRight {
  right: 0;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.btnRight > i:hover {
  transform: translateX(4px);
  transition: 0.5s;
}
.btnLeft > i:hover {
  transform: translateX(-4px);
  transition: 0.5s;
}

/*-------------Footer---------------*/
.footerContainer {
  padding: 0 20px;
  z-index: 10;
  background-color: #000;
  min-height: 298px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.footerInner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footerRow {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #4d4d4d;
  justify-content: space-between;
}
.footerInner h3 {
  color: gray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.footerUL {
  margin: 30px 0 0;
  padding: 0;
  list-style-type: none;
}
.footerLi {
  display: block;
  font-size: 17px;
  margin-top: 15px;
}
.footerLink {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
.footerLeft {
  min-width: 300px;
}
.footerCenter {
  min-width: 300px;
}
.footerRight {
  min-width: 300px;
}
.footerApps {
  width: 200px;
}
.appImg {
  margin-bottom: 30px;
  display: block;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footerStrip {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 29px 0;
}
.stripLogo {
  fill: #fff;
  width: 142px;
}
.copyright {
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.6px;
  flex-grow: 1;
}
.stripIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

/* ---------Shimmer Cards----------- */
.shimmerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1em 0;
}
.shimmerInnerContainer {
  display: flex;
  flex-direction: column;
}
.shimmerBox {
  width: 254px;
  height: 160px;
  margin: 18px 0 2px;
}
.lines {
  height: 10px;
  width: 255px;
  margin: 10px 0 0 0;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 160px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

/* ----------- Restaurant Menu/View------------- */
.restoBody {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}
.restroHeaderContainer {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px dashed #d3d3d3;
  display: flex;
  justify-content: space-between;
}
.restroName {
  font-size: 1.43rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.restroCuisines {
  font-size: 13px;
  color: #7e808c;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  white-space: nowrap;
}
.restroDelCost {
  margin-top: 15px;
  font-size: 14px;
  color: #7e808c;
}
.ratingBox {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  cursor: pointer;
}
.ratingBox .ratingIcons {
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.totalRatings {
  font-size: 10px;
  color: #8b8d97;
  font-weight: 500;
}
.grey {
  color: #ffffff;
}
.orange {
  color: #db7c38;
}
.green {
  color: #48c479;
}
.red {
  color: #ff0000;
}
.yellow {
  color: #e1b055;
}
.restroTimeCostWrapper {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
  margin: 18px 0;
}
.restroTimeCostItem {
  margin-right: 24px;
  display: inline-block;
}
.restroTimeCostIcon {
  vertical-align: bottom;
  margin-right: 10px;
}
.restroOffersContainer {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.restroOffersContainer::-webkit-scrollbar {
  display: none;
}
.offerOuterContainer {
  display: flex;
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 10px 12px;
  min-width: 200px;
  margin-right: 12px;
}
.offerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.offerBoxHeader {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #686b78;
}
.offerBoxBody {
  font-size: 11px;
  color: #93959f;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 600;
}
.hideFlatDeals {
  display: none;
}

.flatDeals {
  color: #e46d47;
  font-weight: 700;
  font-size: 9px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-left: 4px;
  text-align: center;
  border-left: 1px solid #e9e9eb;
}
