@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #000000ab;
  --secondary-color: #ffffff;
  --primary-font: "Figtree", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: var(--primary-font);
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/*------Navbar------------*/
.headers {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  padding: 0px 20px;
}

.fixed {
  position: fixed;
}
.filler {
  visibility: hidden;
}

.navBar {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
}

.navlogo {
  display: block;
  height: 49px;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 16px;
  text-decoration: none;
}

.navList {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
}
.navListItems {
  margin-right: 60px;
  color: #3d4152;
  font-size: 16px;
  font-weight: 500;
}
.navList div:first-child {
  margin-right: 0;
}
.navItems a {
  text-decoration: none;
  color: #3d4152;
  font-size: 16px;
  font-weight: 500;
}
.navItems {
  position: relative;
  height: 80px;
  cursor: pointer;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 28px;
}
.navIcons {
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 0;
}
.navListItems :hover a {
  color: #fc8019;
}
.navItems:hover .svgSet {
  fill: #fc8019 !important;
}
.navItems:hover .cartSet {
  fill: #ffffff !important;
  stroke: #fc8019;
}
.svgSet {
  fill: #3d4152;
}
.cartSet {
  fill: #fff;
  stroke-width: 3px;
  stroke: #3d4152;
}
.cartCount {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 600;
}
.sticky {
  background-color: var(--secondary-color);
  transition: 0.2s;
}

/*------------------------Cart Menu---------------------------*/
.cartMenu {
  opacity: 0;
  display: flex;
  width: auto;
  z-index: 1;
  top: 100%;
  right: 0;
  border-radius: 2px;
  padding: 26px 30px;
  position: absolute;
  background-color: #fff;
  border-top: 2px solid #fc8019;
  box-shadow: 0 2px 20px 0 #93959f;
  visibility: hidden;
}
@keyframes cartMenuAmv {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.cartMore {
  width: 280px;
  padding: 7px 14px 14px;
}
.cartMenuHeader {
  color: #7e808c;
  letter-spacing: -0.3px;
  font-size: 32px;
  font-weight: 600;
}
.cartMenuBody {
  color: #93959f;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  max-width: 218px;
}
.cartArrow {
  position: absolute;
  top: -12px;
  right: 15%;
  z-index: 2;
}
.cartArrow::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 5px;
  box-shadow: -3px -4px 9px -4px rgba(40, 44, 63, 0.5);
  background-color: #fff;
  border: 2px solid #fc8019;
  border-right: none;
  border-bottom: none;
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.navListItems:hover .cartMenu {
  /* opacity: 1; */
  visibility: visible;
  animation: cartMenuAmv 0.3s 0.4s ease-out forwards;
}
.cartRest {
  width: 280px;
  position: relative;
}
.cartRestInfo {
  padding-bottom: 20px;
  position: relative;
}
.restInfoPic {
  height: 66px;
  width: 66px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
.restInfoPic img {
  height: 66px;
  width: 66px;
}
.restInfoDesc {
  margin-left: 86px;
  height: 66px;
  overflow: hidden;
  padding-right: 30px;
}
.restInfoDesc:after {
  content: "";
  border-bottom: 1px solid #d4d5d9;
  position: absolute;
  left: 0;
  right: -30px;
  bottom: 0;
}
.restInfoName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 2px;
  font-size: 17px;
  font-weight: 500;
  color: #282c3f;
}
.restInfoArea {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -1px;
  font-size: 13px;
  color: #7e808c;
  font-weight: 300;
}
.restInfoMenu {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5d8ed5;
  cursor: pointer;
}
.restInfoMenu:hover {
  font-weight: 700;
}
.cartMenuSection {
  padding: 15px 0 12px;
  border-bottom: 1px dashed #a9abb2;
  min-height: 60px;
  max-height: 230px;
  overflow-y: auto;
}
.cartMenuItems {
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0 15px;
  font-size: 15px;
  -ms-flex-align: center;
  align-items: center;
}
.cartMenuItemName {
  -ms-flex: 1;
  flex: 1;
  font-weight: 500;
  font-size: 13px;
  color: #3d4152;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cartMenuItemPrice {
  color: #686b78;
  text-align: right;
  font-weight: 300;
  font-size: 13px;
  width: 60px;
}
.vegNonVegIcon {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.cartMenuTotalSection {
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 22px;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #282c3f;
}
.totalContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.subTotalBody {
  font-size: 15px;
  font-weight: 500;
  -ms-flex: 1;
  flex: 1;
}
.subTotalPrice {
  font-size: 15px;
  font-weight: 500;
}
.subTotalDesc {
  margin-top: -1px;
  font-size: 13px;
  color: #7e808c;
  font-weight: 300;
}
.checkoutBtn {
  width: 100%;
  padding: 11px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #fc8019;
  margin-bottom: 4px;
  font-weight: 600;
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}
.checkoutBtn:hover {
  position: relative;
  box-shadow: 0 4px 14px #d4d5d9;
}

/* ---------------Home Banner--------------------*/

.banner {
  height: 325px;
  width: 100%;
  margin-inline: auto;
  background: linear-gradient(
    0deg,
    rgb(201, 188, 244) 0%,
    rgb(255, 255, 255) 95.83%
  );
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.banner-content {
  /* display: inline-block; */
  position: relative;
  top: 10vh;
  left: 10vw;
  float: left;
  font-family: var(--primary-font);
}
.banner-content h2 {
  font-size: 2.5em;
  line-height: 1.3em;
}
.banner .banner-img {
  position: relative;
  top: 20px;
  right: 200px;
  float: right;
}

.banner .banner-img img {
  height: 300px;
  width: 500px;
}

/* ----------Restaurant Cards (Homepage)------------ */
.homepageContainer {
  padding: 3em 0;
  max-width: 1200px;
  margin: 0 auto;
}

.restContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* margin: 1em 0; */
  padding-top: 1em;
  row-gap: 10px;
  border-top: 1px solid #e9e9eb;
}
.filterContainer {
  width: 100%;
}
.restFilters {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}
.restFilters h2 {
  color: #282c3f;
  font-weight: 600;
  font-size: 28px;
  flex: 1;
}
.filterBtnContainer {
  display: flex;
  align-items: center;
  /* margin-top: 9px; */
  height: 100%;
  flex: 1;
  justify-content: end;
}
.filterBtn {
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 35px;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.filterBtn a {
  text-decoration: none;
  color: #686b78;
  font-weight: 400;
}
.filterBtn a:hover {
  color: #3d4152;
}
#rel:target,
#del:target,
#rat:target,
#lth:target,
#htl:target {
  border-bottom: 2px solid #000000;
}

.restbox {
  width: 300px;
  height: 100%;
  transition: 0.2s ease;
  padding: 20px;
  border: 1px solid #fff;
  margin: 0px -20px;
}
.restbox:hover {
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}
.restbox .restimg {
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.restbox .restimg img {
  width: 254px;
  height: 160px;
  /* display: block; */
  object-fit: cover;
}

.restbox .restdesc {
  width: 100%;
  padding: 1em 0 0;
}
.restName {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  color: #282c3f;
}
.restCuisines {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
  word-break: break-word;
}
.restRatings {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  padding: 3px 6px;
  /* line-height: 1; */
}
.restArea {
  display: flex;
  margin-top: 15px;
  align-items: center;
  font-size: 12px;
  color: #535665;
  justify-content: space-between;
}
.restOffers {
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  color: #8a584b;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  /* align-items: center; */
}
.resOffers span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restCardIcon {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}
.restQuickView {
  color: #5d8ed5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.restQuickView:hover {
  color: #93959f;
}
.restbox:hover .restQuickView {
  visibility: visible;
}

.greybg {
  color: #ffffff;
}
.orangebg {
  background-color: #db7c38;
}
.greenbg {
  background-color: #48c479;
}
.redbg {
  background-color: #ff0000;
}
.yellowbg {
  background-color: #e1b055;
}

/*------------Homepage Carousel--------------*/

.carouselContainer {
  background-color: #171a29;
  padding: 0 20px;
  contain: content;
}
.carouselShimmer {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 30px;
  row-gap: 1em;
}
.rotatingImgInnerContainer {
  background: linear-gradient(
    180deg,
    #ecebeb,
    hsla(0, 3%, 92%, 0.51) 53%,
    hsla(0, 3%, 92%, 0)
  );
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
  animation: rotateImg 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.rotatingImgInnerContainer:after {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  width: 72px;
  height: 72px;
  content: "";
  background-color: #171a29;
  border-radius: 50%;
  overflow: hidden;
}
.rotatingImg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin-left: 2px;
}
.rotatingImgInnerContainer {
  position: relative;
  width: 80px;
  height: 80px;
}
.rotatingImgContainer,
.rotatingImgInnerContainer {
  position: relative;
  width: 80px;
  height: 80px;
}

.rotatingImgContainer {
  margin: 0 auto;
}
@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.carouselInnerContainer {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 340px;
  display: flex;
  align-items: center;
}
.carouselInnerBox {
  height: 280px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 53px;
  align-items: center;
}
.carouselItem {
  display: inline-block;
  cursor: pointer;
  /* margin-right: 55px; */
}
.carouselItem img {
  width: 260px;
  height: 260px;
  backface-visibility: visible;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carouselItem img:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.carouselBtn {
  position: absolute;
  top: 50%;
  width: 47px;
  height: 47px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(41, 48, 63, 0.25);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
}
.carouselBtn img {
  display: block;
  margin: 0 auto;
}
.btnLeft {
  left: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btnRight {
  right: 0;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.btnRight > i:hover {
  transform: translateX(4px);
  transition: 0.5s;
}
.btnLeft > i:hover {
  transform: translateX(-4px);
  transition: 0.5s;
}

/*-------------Footer---------------*/
.footerContainer {
  padding: 0 20px;
  z-index: 10;
  background-color: #000;
  min-height: 298px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.footerInner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footerRow {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #4d4d4d;
  justify-content: space-between;
}
.footerInner h3 {
  color: gray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.footerUL {
  margin: 30px 0 0;
  padding: 0;
  list-style-type: none;
}
.footerLi {
  display: block;
  font-size: 17px;
  margin-top: 15px;
}
.footerLink {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
.footerLeft {
  min-width: 300px;
}
.footerCenter {
  min-width: 300px;
}
.footerRight {
  min-width: 300px;
}
.footerApps {
  width: 200px;
}
.appImg {
  margin-bottom: 30px;
  display: block;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footerStrip {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 29px 0;
}
.stripLogo {
  fill: #fff;
  width: 142px;
}
.copyright {
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.6px;
  flex-grow: 1;
}
.stripIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

/* ---------Shimmer Cards----------- */
.shimmerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1em 0;
}
.shimmerInnerContainer {
  display: flex;
  flex-direction: column;
}
.shimmerBox {
  width: 254px;
  height: 160px;
  margin: 18px 0 2px;
}
.lines {
  height: 10px;
  width: 255px;
  margin: 10px 0 0 0;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 400px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

/* ----------- Search ShimmerContent----------- */
.searchShimmer {
  width: 860px;
  position: relative;
  margin: 0 auto;
  height: 80vh;
}
.innerSSContainer {
  display: block;
}

.ssHeader {
  font-size: 21px;
  font-weight: 700;
  padding: 20px;
}
.ssBody {
  margin: 0 auto;
  height: 100%;
  width: 860px;
  display: flex;
  column-gap: 15px;
  padding: 0px 20px;
  cursor: pointer;
}
.ssBody img {
  height: 109px;
  width: 77px;
}
/* --------- Restaurant View Shimmer ------------ */

.restroShimHeaderCont {
  height: 130px;
  width: 100%;
}
.restroShimInnerCont {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  height: 100%;
  width: 100%;
}
.restroShimBox {
  width: 100%;
  height: 100%;
}
.restroLines {
  width: 100%;
  height: 12px;
}
.restroShimTCWrapper {
  height: 300px;
  width: 100%;
  display: flex;
  column-gap: 8px;
  justify-content: space-around;
  padding-top: 10px;
}
.restroShimOfferCont {
  width: 100%;
  height: 160px;
  padding-top: 5px;
}

/* ---------- Search Component------------------- */
.searchContainer {
  width: 860px;
  margin: 0 auto;
}
.searchInnerContainer {
  margin: 50px 0 20px 0;
}
.searchBox {
  height: 48px;
  border: 1px solid rgba(40, 44, 63, 0.3);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
}
.searchBox input {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-family: var(--primary-font);
  border: none;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}
.searchButton {
  background-color: #fff;
  border: #fff;
  cursor: pointer;
  padding: 0 12px;
}

/* ----------- Search Cards -------------------- */
.searchCardsContainer {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}
.searchCardsInner:hover {
  background-color: #f6f6f6;
}
.searchCardsInner {
  display: flex;
  height: 105px;
  width: 100%;
  padding: 20px;
  column-gap: 8px;
}
.searchCardHeader {
  height: 64px;
  width: 64px;
}
.searchCardHeader img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.searchCardDesc {
  align-self: center;
  text-decoration: none;
  color: #282c3f;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.searchCardDesc .typeofCard {
  margin-top: 5px;
  font-size: 13px;
  color: #7e808c;
}
/* ----------- Restaurant Menu/View------------- */
.restoBody {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.restroHeaderContainer {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px dashed #d3d3d3;
  display: flex;
  justify-content: space-between;
}
.restroName {
  font-size: 1.43rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.restroCuisines {
  font-size: 13px;
  color: #7e808c;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  white-space: nowrap;
}
.restroDelCost {
  margin-top: 15px;
  font-size: 14px;
  color: #7e808c;
}
.ratingBox {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  cursor: pointer;
}
.ratingBox .ratingIcons {
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.totalRatings {
  font-size: 10px;
  color: #8b8d97;
  font-weight: 500;
}
.grey {
  color: #ffffff;
}
.orange {
  color: #db7c38;
}
.green {
  color: #3d9b6d;
}
.red {
  color: #ff0000;
}
.yellow {
  color: #e1b055;
}
.restroTimeCostWrapper {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
  margin: 18px 0;
}
.restroTimeCostItem {
  margin-right: 24px;
  display: inline-block;
}
.restroTimeCostIcon {
  vertical-align: bottom;
  margin-right: 10px;
}
.restroOffersContainer {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.restroOffersContainer::-webkit-scrollbar {
  display: none;
}
.offerBoxOuterContainer {
  margin-right: 12px;
}
.offerBoxInnerContainer {
  display: flex;
  border: 1px solid #e9e9eb;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 8px;
  height: 100%;
  min-width: 200px;
  align-items: center;
  cursor: pointer;
  outline: none;
  text-align: left;
}
.offerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.offerBoxHeader {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: #686b78;
  display: flex;
  align-items: center;
}
.offerBoxBody {
  font-size: 11px;
  color: #93959f;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 600;
}
.hideFlatDeals {
  display: none;
}
.RestaurantOfferIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.flatDeals {
  color: #e46d47;
  font-weight: 700;
  font-size: 9px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-left: 4px;
  text-align: center;
  border-left: 1px solid #e9e9eb;
}

.restroFoodItemContainer {
  height: 100%;
  width: 100%;
  padding: 2em 0;
}
.foodItemsAccordion {
  border-bottom: 16px solid #f1f1f6;
  padding: 10px 0;
}
div.foodItemsBody > div.foodItemsAccordion {
  border-bottom: 1px solid #f1f1f6;
}
.foodItemsHeader {
  color: #3e4152;
  font-weight: 800;
  font-size: 17px;
  /* display: inline-block; */
  line-height: 1.2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.foodItemsHeader button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px;
  margin: 20px 0;
  border-bottom: 0.5px solid #d3d3d3;
}
.itemContainer:last-child {
  border-bottom: none;
}
.vegNonvegClassifier {
  height: 20px;
  width: 20px;
}
.itemTitle {
  font-size: 17px;
  font-weight: 500;
  color: #3e4152;
  word-break: break-word;
}
.itemDescription {
  margin-top: 14px;
  width: 98%;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 14px;
}
.itemPic img {
  width: 118px;
  height: 96px;
  border-radius: 6px;
  margin-bottom: -30px;
}
.rateAndOffersBox {
  margin-top: 2px;
}
.itemRate {
  margin-right: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #3e4152;
}
.itemPic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemOuterBtn {
  box-shadow: 0 3px 8px #e9e9eb;
  border-radius: 4px;
  height: 36px;
  width: 96px;
  border: 1px solid #d4d5d9;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  color: #60b246;
}
.addBtn {
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.itemCounter {
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}
.plusItemBtn {
  animation: 0.2s ease;
  font-size: 20px;
}
.plusItemBtn:hover {
  transform: scale3d(1.2, 1.2, 1);
}
.minusItemBtn {
  color: #bebfc5;
  font-size: 20px;
}

/* ----------Cart Comp ------------- */
.cartContainer {
  background: #e9ecee;
}
.cartInnerContainer {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 auto; */
  text-align: center;
  background: #fff;
}
.cartFilled {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.cartBGImage {
  width: 271px;
  height: 256px;
  background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.cartMsg {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #535665;
}
.cartDesc {
  margin-top: 8px;
  font-size: 14px;
  color: #7e808c;
}
.goHomeBtn {
  margin-top: 30px;
  padding: 11px 20px;
  text-transform: uppercase;
  background-color: #fc8019;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}
.checkOutSection {
  display: flex;
  width: 366px;
  flex-direction: column;
}
.cartRestroDetails {
  cursor: pointer;
  padding: 20px 30px;
  background: #fff;
  display: flex;
  min-height: 90px;
  text-align: left;
  border: none;
  width: 100%;
}
.cartRestroImgBox {
  width: 50px;
  height: 50px;
  position: relative;
}
.cartRestroImg {
  transition: opacity 0.3s ease-out;
}
.cartRestroDesc {
  margin-left: 14px;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 50px;
}
.cartRestroName {
  font-size: 17px;
  color: #282c3f;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cartRestroArea {
  font-size: 13px;
  color: #686b78;
}
.cartItemContainer {
  max-height: calc(100vh - 270px);
  display: flex;
  background: #fff;
}
.cartInnerItemContainer {
  display: flex;
  position: relative;
  overflow-y: hidden;
}
.cartItemSection {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 30px;
  width: 366px;
  padding-bottom: 0 !important;
}
.cartItems {
  margin: 0 -16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px !important;
  padding-right: 16px !important;
  position: relative;
}
.cartItemInner {
  padding: 10px 0;
  display: flex;
  position: relative;
  align-items: center;
}
.cartItemName {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}
.cartItemName div {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 14px;
}
.cartItemRateSection {
  width: 120px;
  float: right;
  display: flex;
  align-items: center;
}
.cartItemPrice {
  font-size: 13px;
  color: #535665;
  text-align: right;
  width: 60px;
}
.cartItemBtn {
  height: 30px;
  width: 70px;
  border-radius: none;
  cursor: pointer;
  color: #60b246;
  background-color: #fff;
  border: 1px solid #d4d5d9;
  display: flex;
}
.beforeCheckContainer {
  background: #fff;
  padding: 8px 30px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.beforeCheckInner {
  border: 1px solid #a9abb2;
  display: flex;
  padding: 4px 10px;
  font-size: 14px;
}

.checkBoxBody {
  overflow: hidden;
}
.beforeCheckBox {
  margin-top: 1px;
  margin-right: 9px;
}

.checkBoxInnerHeader {
  font-weight: 500;
  color: #3e4152;
}
.checkBoxInnerBody {
  opacity: 0.6;
  color: #282c3f;
}
.cartCostSection {
  background: #fff;
  padding: 8px 30px;
  display: flex;
  flex-direction: column;
}
.billDetails {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
  color: #282c3f;
}
.costnDelSection {
  font-size: 13px;
  color: #686b78;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.costnDelSection + .costnDelSection {
  margin-top: 10px;
}
.otherCharges {
  border-bottom: 1px solid #e9e9eb;
  margin: 17px 0 15px;
}
.totalPayoutSec {
  width: 100%;
  background: #fff;
  height: 60px;
  min-height: 60px;
  display: flex;
  font-weight: 600;
  color: #282c3f;
  padding: 5px 30px;
  z-index: 1;
}
.totalPayoutInner {
  margin: 0 auto;
  width: 100%;
  border-top: 2px solid #282c3f;
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
